{% extends 'base_no_bootstrap.html' %}

{% block body_content %}
    <div id="faq_container">
        <div class="container">
            <div id="faq_header">
                <h5 class="center">Часто задаваемые</h5>
                <h2 class="center">Вопросы</h2>
            </div>
            <div id="faq_content_buffer">
                <div id="faq_content">
                    <h3>Как работает Callfeed.net?</h3>
                    <p>Виджет выявляет заинтересованного посетителя Вашего сайта и в нужный момент предлагает заказать ему
                    обратный звонок. После нажатия кнопки "Заказать звонок" система звонит менеджерам Вашей компании.
                    Специалист, снявший трубку, получает голосовое сообщение о том, с какого сайта заказан обратный
                    звонок. Далее происходит соединение, клиент получает ответы на интересующие его вопросы, а Вы -
                    нового клиента. По завершении звонка производится рассылка sms-визиток для обмена контактной
                    информацией с клиентом.</p>
                    <h3>Как мне установить виджет на сайт? Каким требованиям должен отвечать сайт?</h3>
                    <p>Для того, чтобы Callfeed заработал на Вашем сайте, достаточно отправить заявку о подключении, и наши
                    специалисты оперативно установят виджет. Минимальные усилия принесут максимальное решение задач
                    Вашего бизнеса.</p>
                    <h3>Что такое мультивиджет и как его настроить?</h3>
                    <p>Мультивиджет - технология, анализирующая запросы пользователя и настраивающая интерфейс и
                    текстовый контент под конкретного посетителя Вашего сайта. Настройка мультивиджета производится
                    нашим специалистом с учётом Ваших требований. Использование мультивиджета возможно на тарифе
                    "White shark".</p>
                    <h3>Почему эффективнее устанавливать виджет на все, а не на отдельные страницы сайта?</h3>
                    <p>Для того, чтобы получить репрезентативную выборку для формирования релевантной статистики и анализа
                    поведения посетителей Вашего сайта, рекомендуется устанавливать виджет на все страницы сайта.</p>
                    <h3>Что произойдёт, если номер менеджера занят/менеджер не отвечает?</h3>
                    <p>Технология предусматривает настройку незаметной для клиента последовательной переадресации
                    звонка нескольким менеджерам. Если менеджер вовремя не ответил на звонок, система отправит
                    сообщение с контактами потенциального клиента.</p>
                    <h3>Что будет, если закончатся деньги по выбранному тарифу?</h3>
                    <p>Система заблаговременно уведомит Вас о необходимости пополнить счет. В случае отсутствия
                    денег виджет продолжит свою работу в режиме отправки sms и/или email-сообщений, собирая для Вас
                    информацию о потенциальных клиентах.</p>
                    <h3>Как округляется продолжительность звонков?</h3>
                    <p>Callfeed производит поминутную тарификацию, округление производится в большую сторону.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}