{% extends 'base.html' %}

{% load staticfiles %}

{% block header %}

    <header class="navbar-purple">
        <div class="container">
            <nav>
                <a class="pull-left" href="/"><img class="brand-logo-pic" src="{% static 'img/landing/logo.png' %}" alt=""/></a>
                <ul class="pull-right horizontal-ul">
                    <li><a href="/accounts/login">Вход</a></li>
                    <li><a href="/accounts/client/register">Регистрация</a></li>
                </ul>
            </nav>
        </div>
    </header>
    
{% endblock %}

{% block body_content %}
    <main>
        <section class="section-1">
            <div class="container">
                <h1>Уникальный виджет <br/>мгновенного обратного звонка, <br/> повышающий конверсию сайта</h1>
                <button onclick="window.location.assign('/accounts/client/register')" type="button">Получить бесплатно</button>
            </div>
        </section>
        <section class="section-2">
            <div class="container">
                <p>Профессиональный маркетинговый инструмент для вашего сайта, разработанный специально для увеличения конверсии и продаж. CallFeed предлагает нерешительному посетителю Вашего сайта ввести свой номер телефона, после чего система автоматически сделает двусторонний звонок ему и свободному оператору.</p>
                <div class="benefits row">
                    <div class="col-md-4 benefit-1">
                        <img src="{% static 'img/landing/icons_1.png' %}" alt=""/>
                        <p class="text-left"><b>Стимулирет на покупки</b></p>
                        <p class="text-left">Широкий функционал и гибкие настройки CallFeed позволяют точечно воздействовать на целевые группы, предоставляя им особые условия совершения покупок.</p>
                    </div>
                    <div class="col-md-4 benefit-2">
                        <img src="{% static 'img/landing/icons_2.png' %}" alt=""/>
                        <p class="text-left"><b>Помогает нерешительным</b></p>
                        <p class="text-left">CallFeed может воздействовать на нерешительных посетителей Вашего сайта, придавая им уверенности в оформлении заказа здесь и сейчас.</p>
                    </div>
                    <div class="col-md-4 benefit-3">
                        <img src="{% static 'img/landing/icons_3.png' %}" alt=""/>
                        <p class="text-left"><b>Позволяет провести акцию</b></p>
                        <p class="text-left">Возможности CallFeed позволяют легко настроить и провести небольшую маркетинговую акцию на сайте, увеличивая лояльность посетителей и повышая конверсию в продажи.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="widget-1">
            <div class="headline">
                <div class="container">
                    <h1>Удобная форма виджета</h1>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <img src="{% static 'img/landing/widget_1.png' %}" alt=""/>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <p>Благодаря удобной форме и привычному расположению, виджет CallFeed не блокирует содержимое Вашего сайта, не раздражает посетителей, вызывает положительную реакцию поисковых систем.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="widget-2">
            <div class="headline">
                <div class="container">
                    <h1>Настраиваемый дизайн</h1>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-5">
                        <p>Благодаря гибким настройкам дизайна, Callfeed эстетично впишется в Ваш сайт и повысит его эффективность.</p>
                    </div>
                    <div id="img-widget-2" class="col-lg-6 col-md-6" style="overflow:hidden;">
                        <img src="{% static 'img/landing/widget_2.png' %}" alt=""/>
                    </div>
                </div>
            </div>
        </section>
        <section class="widget-3">
            <div class="headline">
                <div class="container">
                    <h1>Активное вовлечение к звонку</h1>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <img src="{% static 'img/landing/widget_3.png' %}" alt=""/>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <p>По определенным правилам, на выбранных Вами страницах и в заданное время, клиентам отображается уникальное
                            маркетинговое предложение. Это позволяет вовлечь в воронку продаж  клиентов, сомневающихся в покупке,
                            и таким образом, увеличить продажи сайта.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="widget-4">
            <div class="headline">
                <div class="container">
                    <h1>Брендирование Вашего виджета</h1>
                    <!-- <img src="{% static 'img/landing/background_web_1.png' %}" alt=""/> -->
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <p>Специалисты Callfeed помогут реализовать Ваши идеи и правильно настроить виджет. Индивидуальный дизайн
                           виджета станет отличным решением для Вашего сайта. Исследования показали, что уникальный виджет цепляет
                           взгляд 87% посетителей сайтов и 65% из них вовлекает к заказу обратного звонка</p>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <img src="{% static 'img/landing/widget_4.png' %}" alt=""/>
                    </div>
                </div>
            </div>
        </section>
        <section class="widget-5">
            <div class="headline">
                <div class="container">
                    <h1>Удобная форма обратной связи</h1>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <img src="{% static 'img/landing/widget_5.png' %}" alt=""/>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <p>Один из самых важных элементов сайта - форма обратной связи теперь будет доступна на всех страницах Вашего сайта.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="try-now">
            <div class="container">
                <h1>Попробуйте <u>бесплатно</u> прямо сейчас</h1>
                <button onclick="window.location.assign('/accounts/client/register')" type="button">Получить бесплатно</button>
            </div>
        </section>
    </main>
{% endblock %}

{% block footer %}
    {% include 'parts/footer1.html' %}
{% endblock %}

{% block additional_css %}
    <link href="{% static 'css/landing_style1.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
{% endblock %}

{% block additional_js %}
    <script type="text/javascript">var CallFeedToken = "41";</script>
    <script type="text/javascript" charset="UTF-8" src="http://callfeed.net/static/cf.devel.js"></script>
{% endblock %}