{% extends 'base.html' %}
{% load staticfiles %}

{% block header %}
{% endblock %}

{% block body_content %}
    <main>
        <div class="container">
            <div class="col-lg-12 text-center">
                <a href="/"><img src="{% static 'img/landing/logo.png' %}" alt=""/></a>
                <h1>Запрос на восстановление пароля принят. Ожидайте письма с дальнейшими указаниями.</h1>
            </div>
        </div>
    </main>
{% endblock %}

{% block footer %}
    <link href="{% static 'css/password_reset_styles.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
{% endblock %}

