{% extends 'pages/profile/client/profile_client.html' %}

{% block options_sidebar %}
{% endblock %}

{% block body_content %}
    {{ block.super }}
    {% load staticfiles %}

    <script>
    	function NewWidgetButtonClicked() {
    		location.href = '/profile/client/widget/new?site_url='+encodeURIComponent($('#new-widget-site-url-input').val());
 		 	$('#overlay').hide();
			$('#new-widget-window').hide();
    	}
		function NewWidgetWindowOpen() {
			$('#overlay').fadeIn(100);
			$('#new-widget-window').show();
			$('#new-widget-site-url-input').focus();
			$('#overlay').click(function() { NewWidgetWindowClose() });
		}   	
		function NewWidgetWindowClose() {
			$('#new-widget-window').hide();
 		 	$('#overlay').fadeOut(100);
		}  
    </script>
	
	<div id="overlay">
	</div>
	
	<div id="new-widget-window">
		Введите URL адрес вашего сайта:
		<input id="new-widget-site-url-input" type="text" value="" placeholder="http://my-site.ru" />
		<br />
		<br />		
		<a id="new-widget-create-button" href="javascript: NewWidgetButtonClicked();">ГОТОВО!</a>
		<a id="new-widget-cancel-button" href="javascript: NewWidgetWindowClose();">Отмена</a>
	</div>

    <br/>
    <div class="container">
        <section id="widgets-list">
            <div class="panel panel-clean">
                <div class="panel-heading-clean">
                    <div class="row">
                        <div class="col-lg-6 pull-left">
                            <h4><b>Виджеты</b></h4>
                        </div>
                        <a style="line-height: 40px;" class="pull-right" href="javascript: NewWidgetWindowOpen();">
                        	<span style="line-height: 30px; color: #aaa;" class="glyphicon glyphicon-plus-sign"></span> 
                        	<u>Добавить виджет</u>
                       	</a>
                    </div>
                </div>
                <table class="table table-bordered-cells">
                    {% for widget in client.widget_set.all %}
                        <tr class="text-center">
                            <td>
                                <a target="_blank" href="{{ widget.site_url }}">{% if widget.site_url != None %}{{ widget.site_url }}{% else %}-{% endif %}</a>
                                <a href="/profile/client/widget/check?widget_id={{ widget.id }}" class="text-right"><img class="refresh-widget-presence-ico" src="{% if widget.is_installed %}{% static 'img/refresh_green_ico.png' %}{% else %}{% static 'img/refresh_red_ico.png' %}{% endif %}" alt=""/></a>
                            </td>
                            <td>
                                <a href="/profile/client/widget/code?widget_id={{ widget.id }}">Установить на сайт</a>
                            </td>
                            <!-- 
                            <td>
                                <a class="disabled text-gray" href="/profile/client/widget/stats?widget_id={{ widget.id }}">Статистика</a>
                            </td>
                            <td>
                                <a class="disabled text-gray" href="/profile/client/widget/journal?widget_id={{ widget.id }}">Журнал обращений</a>
                            </td>
                            -->
                            <td>
                                <span><input class="widget-toggle-activity" type="checkbox" {% if widget.is_active %} checked {% endif %}
                                        data-url="/profile/client/widget/toggle_activity?widget_id={{ widget.id }}"/>
                                    <a href=""><u>{% if widget.is_active %} Остановить {% else %} Запустить {% endif %}</u></a>
                                </span>
                            </td>
                            <td>
                                <a href="/profile/client/widget/options?widget_id={{ widget.id }}"><u>Редактировать</u></a>
                            </td>
                            <td>
                                <a class="text-red delete-btn" data-url="/profile/client/widget/delete?widget_id={{ widget.id }}" href="javascript:void(0);"><u>Удалить</u></a>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="5"><span>Для начала создайте <a href="javascript: NewWidgetWindowOpen();">новый виджет</a> прямо сейчас.</span></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </section>
    </div>
{% endblock %}

{% block additional_js %}
    <script>
        var deleteBtnsSelector = $('.delete-btn');
        for(var i = 0; i < deleteBtnsSelector.length; i++) {
            (function(elem) {
                elem.click(
                    function(){
                        (function() {
                            bootbox.confirm("Вы уверены, что хотите удалить виджет?" , function(result) {
                                if (result) {
                                    window.location.assign(elem.data('url'));
                                }
                            });
                        })()
                    }
                );
            })($(deleteBtnsSelector[i]));
        }
    </script>
    <script>
        var toggleActivityCheckboxes = $('.widget-toggle-activity');
        for(var i = 0; i < toggleActivityCheckboxes.length; i++) {
            (function(elem) {
                elem.on('change mousedown',
                    function() {
                        (function() {
                            bootbox.confirm("Вы уверены, что хотите изменить активность виджета?" , function(result) {
                                if (result) {
                                    window.location.assign(elem.data('url'));
                                }
                            });
                        })()
                    }
                );
            })($(toggleActivityCheckboxes[i]));
        }
    </script>
    <script>
        var active_page = 'page_widgets';
    </script>
    {{ block.super }}
{% endblock %}