{% extends 'pages/profile/client/profile_client.html' %}

{% block body_content %}
    {{ block.super }}
    <div class="container">
        <div class="col-lg-12">&nbsp;</div>
        <div class="row">
            <h4><b>Подтверждение оплаты</b></h4>
        </div>
        <div class="col-lg-12">&nbsp;</div>
        <div class="col-lg-12">
            <div class="row">
                <form action="{{ make_payment_form.target }}" method="post">{% csrf_token %}
                    <table class="table table-bordered-cells">
                        <tr>
                            <th>Минуты</th>
                            <th>Тариф(руб./мин.)</th>
                            <th>В сумме(руб.)</th>
                            <th>Способ оплаты</th>
                        </tr>
                        <tr>
                            <td>{{ bill.minutes }}</td>
                            <td>{{ bill.price_per_minute }}</td>
                            <td>{{ bill.sum }}</td>
                            {% load filters %}
                            <td>{{ bill.payment_method|get_nice_payment_method_title }}</td>
                        </tr>
                    </table>

                    {{ make_payment_form }}

                    <div class="col-lg-2">
                        <div class="row">
                            <input class="btn-green" type="submit" value="Оплатить"/>
                        </div>
                    </div>
                </form>
                <form action="/profile/client/payment/cancel" method="post">{% csrf_token %}
                    {{ make_payment_form }}
                    <input type="submit" value="Отмена"/>
                </form>
            </div>
        </div>
    </div>
{% endblock %}