@font-face {
    font-family: bebasneue_bold;
    src: url('./../fonts/bebasneue_bold.ttf');
}

html, body {
    background-color: #414243;
    color: #FFF;
}

.container {
    padding-top: 100px;
}

h1 {
    font-family: bebasneue_bold, serif;
    margin-top: 40px;
}

.login-form {
    padding-top: 50px;
}

input {
    margin-bottom: 20px;
    width: 280px;
    height: 38px;
    font-size: 17px;
    color: #000;
}

input[type=submit] {
    font-weight: bold;
    background-color: #3AB363;
    color: #FFF;
}

.forgot-password {
    margin-top: 20px;
    font-size: 16px;
}

.forgot-password a {
    opacity: 0.65;
    color: #FFF !important;
    text-decoration: underline;
}