{% extends 'base_profile.html' %}

{% block body_content %}
    {{ block.super }}
    <div class="container">
        <div class="row col s12">
            <h3 class="center">Кабинет Реселлера</h3>
            <div class="col s12">
                Name: {{ reseller.name }}<br/>
                Tariff: {{ reseller.tariff }}<br/>
            </div>
            <div class="col s12">
                {% include 'parts/reseller_clients_list.html' %}
            </div>
        </div>
    </div>
{% endblock %}