<nav class="white-text navbar-2x-soft-gray">
    <div class="container">
        <ul class="nav navbar-nav pull-left">
            <li id="page_widgets"><a href="/profile/client/widgets">Виджеты</a></li>
            <li id="page_callbacks"><a href="/profile/client/callbacks">Звонки</a></li>
            <li id="page_operators"><a href="/profile/client/operators">Операторы</a></li>
            <li id="page_info"><a href="/profile/client/info/personal">Профиль</a></li>
        </ul>
        <ul class="nav navbar-nav pull-right">
            <li><a href="">{{ balance_minutes }} мин.</a></li>
            <li><button style="margin-top: 8px" class="btn-purple" id="make_payment" onclick="window.location.assign('/profile/client/payment/choose_tariff')">Пополнить</button></li>
        </ul>
    </div>
</nav>

<script type="text/javascript" charset="UTF-8" src="http://callfeed.net/static/cf.min.js">var CallFeedToken = "79";</script>