{% load staticfiles %}

<footer class="background-soft-gray">
    <div class="row" style="margin-right: 0px; margin-left: 0px;">
        <div class="col-md-12">
            <div class="col-md-4">
                <img class="logo" src="{% static 'img/landing/logo.png' %}" alt=""/>
                <p class="copyright-text">© 2015 Callfeed.net<br/>Виджет обратного звонка</p>
            </div>
            <div class="col-md-3 menu">
                <div class="col-md-5">
                    <ul>
                        <li><a href="">О компании</a></li>
                        <li><a href="">Партнёрам</a></li>
                        <li><a href="">Контакты</a></li>
                    </ul>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-5">
                    <ul>
                        <li><a href="">Договор</a></li>
                        <li><a href="">Вопросы</a></li>
                        <li><a href="">Блог</a></li>
                    </ul>
                </div>
                </div>
            <div class="col-md-1"></div>
            <div class="col-md-4">
                <h4 class="phone pull-right" style="margin-bottom: 50px;">+7 (812) 309-56-95</h4>
                <p class="location pull-right" style="margin-bottom: 50px;">Россия, Санкт-Петербург,<br/>Кронверский пр., д. 51, ООО "КУМА"<br/>E-mail: nfo@callfeed.net</p>
            </div>
        </div>
    </div>
</footer>

    
    
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter31601163 = new Ya.Metrika({
                    id:31601163,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/31601163" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->    


