{% load staticfiles %}

<footer class="background-soft-gray">
    <div class="container">
        <div class="row" style="margin-right: 0px; margin-left: 0px;">
            <div class="col-md-4">
                <img class="logo" src="{% static 'img/landing/logo.png' %}" alt=""/>
                <p class="copyright-text">© 2015 Callfeed.net<br/>Виджет обратного звонка</p>
            </div>
            <div class="col-md-3 menu">
                <div class="row">
                    <div class="col-md-5">
                        <ul>
                            <li><a href="">О компании</a></li>
                            <li><a href="">Партнёрам</a></li>
                            <li><a href="">Контакты</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-5">
                        <ul>
                            <li><a href="">Договор</a></li>
                            <li><a href="">Вопросы</a></li>
                            <li><a href="">Блог</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- <div class="col-lg-1  col-sm-1"></div> -->
            <div class="col-md-4">
                <h4 class="phone pull-right">+7 (812) 309-56-95</h4>
                <p class="location pull-right">Россия, Санкт-Петербург,<br/>Кронверский пр., д. 51, ООО "КУМА"<br/>E-mail: nfo@callfeed.net</p>
            </div>
        </div>
    </div>
</footer>

    

