<footer>
    <div class="container">
        <div class="row text-left">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <img class="logo" src="landing/logo.png" alt=""/>
                <p class="copyright-text">
                	© 2015 CallFeed.NET
                	<br/>
                	Виджет обратного звонка
               	</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 phone1">
                <span class="phone text-left">+7 (812) 309-56-95</span>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
        		<div class="row bottom-links">
            		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
		                <ul>
		                    <li><a href="">О компании</a></li>
		                    <li><a href="">Партнёрам</a></li>
		                    <li><a href="">Контакты</a></li>
		                </ul>
		            </div>
            		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
		                <ul>
		                    <li><a href="">Договор</a></li>
		                    <li><a href="">Вопросы</a></li>
		                    <li><a href="">Блог</a></li>
		                </ul>
	                </div>
            	</div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 phone2">
                <span class="phone text-left">+7 (812) 309-56-95</span>
            </div>
        </div>
    </div>
</footer>