<ul class="list-group">
    <li id="tab_code" class="list-group-item"><a href="/profile/client/widget/code?widget_id={{ widget_id }}">Код виджета</a></li>
    <li id="tab_options" class="list-group-item"><a href="/profile/client/widget/options?widget_id={{ widget_id }}">Основные</a></li>
    <li id="tab_design" class="list-group-item"><a href="/profile/client/widget/design?widget_id={{ widget_id }}">Дизайн</a></li>
{#    <li id="tab_notifications" class="list-group-item"><a href="/profile/client/widget/notifications?widget_id={{ widget_id }}">Уведомления</a></li>#}
{#    <li id="tab_actions" class="list-group-item disabled"><a href="/profile/client/widget/actions?widget_id={{ widget_id }}">Действия</a></li>#}
    <li id="tab_parameters" class="list-group-item"><a href="/profile/client/widget/parameters?widget_id={{ widget_id }}">Параметры</a></li>
{#    <li id="tab_departments" class="list-group-item disabled"><a href="/profile/client/widget/departments?widget_id={{ widget_id }}">Отделения</a></li>#}
    <li id="tab_contacts_form" class="list-group-item"><a href="/profile/client/widget/contact_form?widget_id={{ widget_id }}">Форма контактов</a></li>
    <li id="tab_content" class="list-group-item"><a href="/profile/client/widget/content?widget_id={{ widget_id }}">Содержание</a></li>
</ul>