{% load staticfiles %}
    
<h4 class="center">Список клиентов:</h4>
<table class="table table-bordered-cells">
    {% for client in reseller.client_set.all %}
    	<tr class="text-center">
    		<td>
            	<a href="/profile/reseller/edit_clients?client_id={{ client.id }}">{{ client.name }} ({{ client.email }})</a>
            </td>
            <td>
            	{{ client.phone_number }}
            </td>
            <td>
            	{{ client.balance_minutes }} мин.
            </td>
            <td>
	            <ul>
	            {% for widget in client.widget_set.all %}
	                <li>
	                    {% if widget.site_url != None %}
	                        <a href="{{ widget.site_url }}" target=_blank>{{ widget.site_url }}</a>
	                    {% else %}
	                        <i>имя сайта не было указано</i>
	                    {% endif %}
	                    &nbsp;
	                    {% if widget.is_active %}
	                        <span style="color: green;">&nbsp;</span>
	                    {% else %}
	                        <span style="color: red;">(выключен)</span>
	                    {% endif %}
	                    &nbsp;
                        <a href="/profile/client/widget/check?widget_id={{ widget.id }}" class="text-right">
                        	<img class="refresh-widget-presence-ico" src="{% if widget.is_installed %}{% static 'img/refresh_green_ico.png' %}{% else %}{% static 'img/refresh_red_ico.png' %}{% endif %}" alt=""/>
                       	</a>
	                </li>
	            {% endfor %}
	            </ul>
            </td>
        </tr>
    {% empty %}
        <h5 class="center">У вас нет ни одного клиента</h5>
    {% endfor %}
</ul>